In [24]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stest
import math

In [25]:
mar_age_india = [29,30,25,24,32,27,29,34,33,32,29,28,30,31,32,29]

**One sample z-test using scipy**

In [26]:
ztest, pvalue = stests.ztest(mar_age_india, x2=None, value=30)
print(ztest, pvalue)
if(pvalue > 0.05):
  print('We failed to reject Null Hypthesis')
else:
  print('Accept Alternate Hypthesis')

-0.5447047794019222 0.5859565771946524
We failed to reject Null Hypthesis

**One sample z-test without using any library**

In [27]:
mar_age_nepal = [29,30,25,24,32,27,29,34,33,32,29,28,30,31,32,29,21,34,21,23,26,28,31,33,32,37,29,20,31,27,26,25,29,22,23,24,30,31]

In [28]:
sample_mean = 30
population_mean = np.mean(mar_age_nepal)
population_std = np.std(mar_age_nepal)
sample_size = 30

In [29]:
zscore = (sample_mean - population_mean)/(population_std/math.sqrt(sample_size))
zscore

2.2398805428898187

In [30]:
pval = 2*(1-stats.norm.cdf(abs(zscore)))
print(pval)
if(pval > 0.05):
  print('We failed to reject Null Hypthesis')
else:
  print('Accept Alternate Hypthesis')

0.0250986791286123
Accept Alternate Hypthesis